:root {
    --white: #fefefeff;
    --highlight-blue: #b2d2f6ff;
    --seasalt: #f9f9f9ff;
    --dark-gray: #b2b2b2;
    --light-gray: #f0f0f4;
    --dark-blue: #434e69ff;
    --white-2: #fbfcfcff;
    --seasalt-2: #f7f7f7ff;
    --received-chat-color: #fefefeff;
    --sent-chat-color: #d9fdd3ff;
    --max-app-content-width: 1324px;
    --max-app-content-heigth: 1024px;
    --font-color: #5c5758;
    --bold-font-color: #15141a;
    --primary: #665df5;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #fff;
    height: 100%;
    width: 100%;
    color: var(--font-color);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
